In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\annuy\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\annuy\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\annuy\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\annuy\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\annuy\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: outcome in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\annuy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\annuy\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\annuy\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\annuy\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\annuy\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
## Answer (1.)
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [4]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver.get("https://www.naukri.com/")

In [8]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [9]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [10]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [11]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [13]:
len(job_title)

10

In [14]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [15]:
len(job_location)

10

In [16]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [17]:
len(company_name)

10

In [18]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [19]:
len(experience_required)

10

In [20]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analysts with Business Analysis,Bangalore/Bengaluru,Avanze Group,6-8 Yrs
1,Immediate Hiring For MIS and Data Analyst,Bangalore/Bengaluru,Regalix,1-6 Yrs
2,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-4 Yrs
3,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs
4,Senior Data Analyst - DC,Bangalore/Bengaluru,Boston Consulting Group,4-6 Yrs
5,Data Analyst,"Temp. WFH - Pune, Bangalore/Bengaluru, Mumbai ...",Ifood Web Media Technology,4-8 Yrs
6,Data Analyst,Bangalore/Bengaluru,Koch Industries,7-9 Yrs
7,Data Analyst- II,Bangalore/Bengaluru,Jupiter Money,5-7 Yrs
8,Manager/Senior Manager - Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Huquo Consulting Pvt. Ltd,2-7 Yrs
9,Croma - Data Analyst - Mumbai / Bangalore,"Hybrid - Mumbai, Bangalore/Bengaluru",Croma,4-9 Yrs

In [24]:
## Answer (2.)
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [25]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [26]:
driver.get("https://www.naukri.com/")

In [27]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [30]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [31]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [32]:
job_title=[]
job_location=[]
company_name=[]

In [33]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [34]:
len(job_title)

10

In [35]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [36]:
len(job_location)

10

In [37]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [38]:
len(company_name)

10

In [40]:
import pandas as pd
df = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company': company_name})
df

,Title,Location,Company
0,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra
1,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft
4,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft
5,Data Scientist Knowledge graph,"Hybrid - Pune, Bangalore/Bengaluru",Capco
6,Data Scientist (Analyst),Bangalore/Bengaluru,Visa
7,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks
8,Analytic Delivery Lead,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Gharondaa Advisors
9,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru...",PayU

In [6]:
##Answer(3.)
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [31]:
driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [32]:
driver = webdriver.Chrome("chromedriver.exe")

In [51]:
driver.get("http://www.naukri.com/")

In [52]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [53]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [54]:
loc_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
loc_filter.click()

In [55]:
sal_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[3]/div[2]/div[2]/label/i')
sal_filter.click()

In [56]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [57]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [58]:
len(job_title)

10

In [59]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [60]:
len(company_name)

10

In [61]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [62]:
len(experience_required)

10

In [63]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [64]:
len(job_location)

10

In [65]:
import pandas as pd
df = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company': company_name,'Experience': experience_required})
df

,Title,Location,Company,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
2,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
3,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
4,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs
5,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
7,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
8,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs
9,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [32]:
## Answer(4.)

driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [33]:
driver = webdriver.Chrome("chromedriver.exe")

In [34]:
driver.get("http://www.flipkart.com/")

In [35]:
remove_login = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
remove_login.click()

In [36]:
product = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [40]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [47]:
brand= []
description= []
price= []
discount=[]

In [51]:
start = 0
end = 3
for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
    description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description.append(i.text)
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
        discount.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click
    time.sleep(3)

In [53]:
brand= brand[0:100]
description= description[0:100]
price= price[0:100]
discount= discount[0:100]

In [55]:
sunglasses = pd.DataFrame({'Brand':brand,'Description':description,'Price':price,'Flipkart Discount':discount})
sunglasses

,Brand,Description,Price,Flipkart Discount
0,PC STAR,"Riding Glasses, UV Protection Retro Square Sun...",₹229,82% off
1,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹499,37% off
...,...,...,...,...
95,GANSTA,UV Protection Retro Square Sunglasses (Free Size),₹299,85% off
96,SRPM,"Riding Glasses, Night Vision Spectacle Sunglas...",₹179,82% off
97,kingsunglasses,UV Protection Retro Square Sunglasses (Free Size),₹129,87% off
98,LIZA ANGEL,UV Protection Round Sunglasses (53),₹174,82% off
99,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹499,77% off

In [84]:
## Answer (5.)

driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [85]:
driver = webdriver.Chrome("chromedriver.exe")

In [86]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [88]:
rating= []
summary= []
full_review= []

In [90]:
start = 0
end = 10
for page in range(start,end):
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
    summary_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_tags:
        summary.append(i.text)
     
    full_review_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        full_review.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [91]:
rating = rating[0:100]
summary = summary[0:100]
full_review = full_review[0:100]

In [93]:
len(rating),len(summary),len(full_review)

(100, 100, 100)

In [94]:
Iphone_reviews = pd.DataFrame({'Ratings':rating,'Review Summary':summary,'Full Review':full_review})
Iphone_reviews

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Fabulous,Its the best product that person already in ap...
96,5,Best in the market!,Phone is good. 1st tym on iOS. Enjoying it til...
97,5,Simply awesome,Nice but the price will keep outstanding for e...
98,5,Worth the money,Overall the phone is great.\nJust the battery ...
99,5,Brilliant,Superb original product. Delivered before time...

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [14]:
## Answer (6.)

driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [15]:
driver = webdriver.Chrome("chromedriver.exe")

In [16]:
driver.get("http://www.flipkart.com/")

In [17]:
item = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
item.send_keys('sneakers')

In [18]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [19]:
brand = []
description = []
price = []

In [20]:
start = 0
end = 3
for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
    description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description.append(i.text)
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [21]:
sneakers = pd.DataFrame({'Brand':brand[0:100],'Description':description[0:100],'Price':price[0:100]})
sneakers

,Brand,Description,Price
0,SFR,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹399
1,K- FOOTLANCE,Sneakers For Women,₹399
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹199
3,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹282
4,HRX by Hrithik Roshan,ACTIVE RUN Sneakers For Men,"₹1,047"
...,...,...,...
95,World Wear Footwear,Sneakers For Men,₹399
96,HRX by Hrithik Roshan,Sneakers For Men,"₹1,271"
97,NIKE,"Stylish and Trendy New Design Lightweight,Casu...","₹2,593"
98,BERSACHE,Acrux Sneakers For Men,₹998
99,sixXplus,Exclusive Affordable Collection of Trendy & St...,₹594

In [82]:
##Answer(7.)
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [109]:
driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [110]:
driver = webdriver.Chrome("chromedriver.exe")

In [111]:
driver.get("https://www.amazon.in/")

In [86]:
item = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
item.send_keys('Laptop')

In [87]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [88]:
filter_i7 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[14]/span/a/span')
filter_i7.click()

In [89]:
laptop_title= []
laptop_rating= []
laptop_price= []

In [90]:
title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    laptop_title.append(title)
    
rating_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rating=i.text
    laptop_rating.append(rating)
    
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    laptop_price.append(price)

In [91]:
len(laptop_title), len(laptop_rating),len(laptop_price)

(10, 10, 10)

In [92]:
Amazon_Laptops = pd.DataFrame({'Laptop_name': laptop_title, 'Laptop_rating': laptop_rating, 'Laptop_price': laptop_price})
Amazon_Laptops

,Laptop_name,Laptop_rating,Laptop_price
0,"Dell Alienware x14 Gaming Laptop, Intel i7-127...",3.9,"1,49,990"
1,"Fujitsu UH-X 11th Gen Intel Core i7 13.3"" FHD ...",4.3,"94,990"
2,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...",3.0,"53,990"
3,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,3.7,"79,990"
4,Acer Nitro 5 Gaming Laptop Intel core i7 11th ...,4.5,"78,990"
5,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.0,"94,630"
6,HP Victus Gaming Latest 12th Gen Intel Core i7...,4.3,"82,990"
7,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,4.2,"79,990"
8,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...",3.5,"99,990"
9,Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...,3.7,"99,990"

In [112]:
## Answer (8.)
driver.get("https://www.azquotes.com/")

In [113]:
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [114]:
quote = []
author = []
quotype = []

In [115]:
start = 0
end = 10
loop = 0

for page in range(start, end):
    
    quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
    author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
    quotype_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in quotype_tags:
        quotype.append(i.text)
            
    if loop < 9:
        next_button = driver.find_element(By.XPATH, '//li[@class="next"]')
        next_button.click()
        loop +=1
    time.sleep(3)

In [116]:
Top_quotes = pd.DataFrame({'Quote':quote,'Author':author,'Tupe of Quote':quotype})
Top_quotes

,Quote,Author,Tupe of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [2]:
## ANSWER (9.)
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [4]:
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
driver.get("http://www.jagranjosh.com/")

In [6]:
gk = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
gk.click()

In [7]:
prmlist = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
prmlist.click()

In [10]:
pname= []
life= []
term= []
remark= []

In [11]:
pname_tags1 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in pname_tags1:
    pname.append(i.text)
pname_tags2 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[2]/p')
for i in pname_tags2:
    pname.append(i.text)
pname_tags3 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[2]/p')
for i in pname_tags3:
    pname.append(i.text)
pname_tags4 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[2]/p')
for i in pname_tags4:
    pname.append(i.text)
pname_tags5 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[2]/p/strong/a')
for i in pname_tags5:
    pname.append(i.text)
pname_tags6 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[2]/p')
for i in pname_tags6:
    pname.append(i.text)
pname_tags7 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[2]/p')
for i in pname_tags7:
    pname.append(i.text)
pname_tags8 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[2]/p/strong/a')
for i in pname_tags8:
    pname.append(i.text)
pname_tags9 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[2]/p/a/strong')
for i in pname_tags9:
    pname.append(i.text)
pname_tags10 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[2]/p')
for i in pname_tags10:
    pname.append(i.text)
pname_tags11 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[2]/p/strong/a')
for i in pname_tags11:
    pname.append(i.text)
pname_tags12 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[2]/p')
for i in pname_tags12:
    pname.append(i.text)
pname_tags13 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[2]/p/strong/a')
for i in pname_tags13:
    pname.append(i.text)
pname_tags14 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[2]/p')
for i in pname_tags14:
    pname.append(i.text)
pname_tags15 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[2]/p')
for i in pname_tags15:
    pname.append(i.text)
pname_tags16 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[2]/p/a/strong')
for i in pname_tags16:
    pname.append(i.text)
pname_tags17 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[2]/p/strong/a')
for i in pname_tags17:
    pname.append(i.text)
pname_tags18 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[2]/p/a/strong')
for i in pname_tags18:
    pname.append(i.text)

    
    
    
life_tags1 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[3]/p')
for i in life_tags1:
    life.append(i.text)
life_tags2 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[3]/p')
for i in life_tags2:
    life.append(i.text)
life_tags3 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[3]/p')
for i in life_tags3:
    life.append(i.text)
life_tags4 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[3]/p')
for i in life_tags4:
    life.append(i.text)
life_tags5 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[3]/p')
for i in life_tags5:
    life.append(i.text)
life_tags6 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[3]/p')
for i in life_tags6:
    life.append(i.text)
life_tags7 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[3]/p')
for i in life_tags7:
    life.append(i.text)
life_tags8 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[3]/p')
for i in life_tags8:
    life.append(i.text)
life_tags9 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[3]/p')
for i in life_tags9:
    life.append(i.text)
life_tags10 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[3]/p')
for i in life_tags10:
    life.append(i.text)
life_tags11 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[3]/p')
for i in life_tags11:
    life.append(i.text)
life_tags12 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[3]/p')
for i in life_tags12:
    life.append(i.text)
life_tags13 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[3]/p')
for i in life_tags13:
    life.append(i.text)
life_tags14 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[3]/p')
for i in life_tags14:
    life.append(i.text)
life_tags15 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[3]/p')
for i in life_tags15:
    life.append(i.text)
life_tags16 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[3]/p')
for i in life_tags16:
    life.append(i.text)
life_tags17 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[3]/p')
for i in life_tags17:
    life.append(i.text)
life_tags18 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[3]/p')
for i in life_tags18:
    life.append(i.text)
    

term_tags1 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in term_tags1:
    term.append(i.text)
term_tags2 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[4]/p[1]/span')
for i in term_tags2:
    term.append(i.text)
term_tags3 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[4]/p[1]/span')
for i in term_tags3:
    term.append(i.text)
term_tags4 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[4]/p[1]')
for i in term_tags4:
    term.append(i.text)
term_tags5 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[4]/p[1]/span')
for i in term_tags5:
    term.append(i.text)
term_tags6 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[4]/p[1]/span')
for i in term_tags6:
    term.append(i.text)
term_tags7 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[4]/p[1]/span')
for i in term_tags7:
    term.append(i.text)
term_tags8 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[4]/p[1]/span')
for i in term_tags8:
    term.append(i.text)
term_tags9 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[4]/p[1]/span')
for i in term_tags9:
    term.append(i.text)
term_tags10 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[4]/p[1]/span')
for i in term_tags10:
    term.append(i.text)
term_tags11 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[4]/p[1]/span')
for i in term_tags11:
    term.append(i.text)
term_tags12 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[4]/p[1]/span')
for i in term_tags12:
    term.append(i.text)
term_tags13 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[4]/p[1]/span')
for i in term_tags13:
    term.append(i.text)
term_tags14 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[4]/p[1]/span')
for i in term_tags14:
    term.append(i.text)
term_tags15 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[4]/p[1]/span')
for i in term_tags15:
    term.append(i.text)
term_tags16 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[4]/p[1]/span')
for i in term_tags16:
    term.append(i.text)
term_tags17 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[4]/p[1]/span')
for i in term_tags17:
    term.append(i.text)
term_tags18 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[4]/p/span')
for i in term_tags18:
    term.append(i.text)

    

remark_tags1 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[5]/p')
for i in remark_tags1:
    remark.append(i.text)
remark_tags2 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[5]/p')
for i in remark_tags2:
    remark.append(i.text) 
remark_tags3 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[5]/p')
for i in remark_tags3:
    remark.append(i.text)    
remark_tags4 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[5]/p')
for i in remark_tags4:
    remark.append(i.text)    
remark_tags5 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[5]/p')
for i in remark_tags5:
    remark.append(i.text)    
remark_tags6 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[5]/p')
for i in remark_tags6:
    remark.append(i.text)    
remark_tags7 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[5]/p')
for i in remark_tags7:
    remark.append(i.text)    
remark_tags8 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[5]/p')
for i in remark_tags8:
    remark.append(i.text)    
remark_tags9 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[5]/p')
for i in remark_tags9:
    remark.append(i.text)    
remark_tags10 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[5]/p')
for i in remark_tags10:
    remark.append(i.text)    
remark_tags11 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[5]/p')
for i in remark_tags11:
    remark.append(i.text)    
remark_tags12 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[5]/p')
for i in remark_tags12:
    remark.append(i.text)    
remark_tags13 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[5]/p')
for i in remark_tags13:
    remark.append(i.text)    
remark_tags14 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[5]/p')
for i in remark_tags14:
    remark.append(i.text)    
remark_tags15 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[5]/p')
for i in remark_tags15:
    remark.append(i.text)    
remark_tags16 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[5]/p')
for i in remark_tags16:
    remark.append(i.text)    
remark_tags17 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[5]/p')
for i in remark_tags17:
    remark.append(i.text)    
remark_tags18 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[5]/p')
for i in remark_tags18:
    remark.append(i.text)

In [12]:
Prime_ministers = pd.DataFrame({'Prime Minister':pname,'Born-Death':life,'Term of Office':term,'Remarks':remark})
Prime_ministers

,Prime Minister,Born-Death,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [40]:
## Answer(10.)

driver = webdriver.Chrome(r"C:\Users\annuy\Desktop\FLIPROBO TECH\chromedriver.exe")

In [41]:
driver = webdriver.Chrome("chromedriver.exe")

In [42]:
driver.get("https://www.motor1.com/")

In [44]:
removeadd = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div/div/div/div/button')
removeadd.click()
time.sleep(10)

In [45]:
options = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
options.click()

In [46]:
features = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
features.click()

In [47]:
lists = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
lists.click()

In [48]:
exp_50 = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[9]/div/div[1]/h3/a')
exp_50.click()

In [49]:
car_name= []

In [50]:
car_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car_name.append(i.text)

In [52]:
most_expensive_cars = pd.DataFrame({'Car Name':car_name})
most_expensive_cars

                            Car Name
0                          Drako GTE
1                      De Tomaso P72
2                  Ferrari LaFerrari
3                      Pagani Huayra
4                       McLaren Elva
5                        Czinger 21C
6                      Ferrari Monza
7                 Gordon Murray T.33
8                  Koenigsegg Gemera
9                        Zenvo TSR-S
10                Hennessey Venom F5
11                   Bentley Bacalar
12     Hispano Suiza Carmen Boulogne
13            Bentley Mulliner Batur
14                      Deus Vayanne
15                       SSC Tuatara
16                       Lotus Evija
17               Aston Martin Vulcan
18                        Delage D12
19                 McLaren Speedtail
20                      Rimac Nevera
21                     Pagani Utopia
22              Pininfarina Battista
23                 Ferrari FXX K Evo
24                Gordon Murray T.50
25              Lamborghini Countach
26          Mercedes-AMG Project One
27               Aston Martin Victor
28       Hennessey Venom F5 Roadster
29                  Koenigsegg Jesko
30             Aston Martin Valkyrie
31         W Motors Lykan Hypersport
32                     McLaren Solus
33         Pagani Huayra Roadster BC
34          Bugatti Chiron Pur Sport
35                  Lamborghini Sian
36                  Koenigsegg CC850
37   Bugatti Chiron Super Sport 300+
38                Lamborghini Veneno
39                    Bugatti Bolide
40                   Bugatti Mistral
41               Pagani Huayra Imola
42                      Bugatti Divo
43               SP Automotive Chaos
44                  Pagani Codalunga
45          Mercedes-Maybach Exelero
46                Bugatti Centodieci
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World