In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [3]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
Rank= []
Name= []
Artist=[]
Upload_date= []
Views= []

In [6]:
#Scraping Rank
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

#Scraping Name
name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)
    
#Scraping Artist
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
    
#Scraping Views
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)
    
    
#Scraping Upload_date
upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    Upload_date.append(i.text)
    
Youtube_viewed=pd.DataFrame({})
Youtube_viewed['Rank']=Rank
Youtube_viewed['Name']=Name
Youtube_viewed['Artist']=Artist
Youtube_viewed['Upload_date']=Upload_date
Youtube_viewed['Views']=Views
Youtube_viewed

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.13
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.07
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.59
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.96
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.89
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.76
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.12
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.84
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.80
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.79
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.66
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.21
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.81
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.72
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.71
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.71
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.54
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.48
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.44
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.43
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.39
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.37
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.36
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.35
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.32
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.32
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.29
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.26

In [3]:
## ANSWER - (2.)



import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [23]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [24]:
driver = webdriver.Chrome("chromedriver.exe")

In [25]:
driver.get("http://www.bcci.tv/")

In [26]:
international = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.send_keys("INTERNATIONAL")

In [27]:
fixtures = driver.find_element(By.XPATH,"/html/body/div[5]/div/div[1]/div/ul/li[1]/a")
fixtures.click()

In [28]:
view_all = driver.find_element(By.XPATH,"/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a")
view_all.click()

In [29]:
view_more = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
view_more.click()
time.sleep(2)

In [30]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [31]:
## Scraping match title
match_title = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_title:
    Match_title.append(i.text)

#Scraping Series
series= driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series:
    Series.append(i.text)    

#Scraping Place
place= driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    Place.append(i.text) 
    
#Scraping Date
date= driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date:
    Date.append(i.text)   
    
#Scraping Time
time= driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    Time.append(i.text)

In [32]:
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

12 12 12 12 12

In [33]:
fixtures = pd.DataFrame({'Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
fixtures

,Title,Series,Place,Date,Time
0,5th T20I -,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",2 FEB 2023,6:30 PM IST
1,1st Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium,",9 FEB 2023,9:30 AM IST
2,1st T20I -,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",12 FEB 2023,6:30 PM IST
3,2nd T20I -,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",15 FEB 2023,6:30 PM IST
4,2nd Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM IST
5,3rd T20I -,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",18 FEB 2023,6:30 PM IST
6,4th T20I -,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",20 FEB 2023,6:30 PM IST
7,3rd Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,",1 MAR 2023,9:30 AM IST
8,4th Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM IST
9,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
10,2nd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
11,3rd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

In [34]:
## Answer(3.)

In [104]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [105]:
driver = webdriver.Chrome("chromedriver.exe")

In [106]:
driver.get("http://statisticstimes.com/")

In [107]:
from selenium.webdriver.common.action_chains import ActionChains

In [108]:
ActionChains(driver).move_to_element(driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")).context_click().perform()
ActionChains(driver).move_to_element(driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")).click().perform()

In [109]:
gdp_page = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_page.click()

In [110]:
rank = []
state = []
gsdp1819 = []
gsdp1920 = []
share = []
gdp = []

In [113]:
#RANK
try:
    rank_tags = driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in rank_tags[0:33]:
        rank.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    rank.append('No Data')
    
    
#STATE
try:
    state_tags = driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in state_tags[0:33]:
        state.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    state.append('No Data')
    
    
#GSDP (18-19)
try:
    gsdp1819_tags = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
    for i in gsdp1819_tags[0:33]:
        gsdp1819.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    gsdp1819.append('No Data')
    
    
#GSDP (19-20)
try:
    gsdp1920_tags = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in gsdp1920_tags[0:162:5]:
        gsdp1920.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    gsdp1920.append('No Data')
    
    
#SHARE
try:
    share_tags = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in share_tags[1:163:5]:
        share.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    share.append('No Data')
    
    
#GDP
try:
    gdp_tags = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in gdp_tags[2:164:5]:
        gdp.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    gdp.append('No Data')

In [114]:
print(len(rank),len(state),len(gsdp1819),len(gsdp1920),len(share),len(gdp))

33 33 33 33 33 33

In [115]:
indian_states_gdp = pd.DataFrame({'RANK':rank,'STATE':state,'GSDP (18-19)':gsdp1819,'GSDP (19-20)':gsdp1920,'SHARE':share,'GDP':gdp})
indian_states_gdp

   RANK                      STATE GSDP (18-19) GSDP (19-20)   SHARE      GDP
0     1                Maharashtra    2,632,792            -  13.94%  399.921
1     2                 Tamil Nadu    1,630,208    1,845,853   8.63%  247.629
2     3              Uttar Pradesh    1,584,764    1,687,818   8.39%  240.726
3     4                    Gujarat    1,502,899            -   7.96%  228.290
4     5                  Karnataka    1,493,127    1,631,977   7.91%  226.806
5     6                West Bengal    1,089,898    1,253,832   5.77%  165.556
6     7                  Rajasthan      942,586    1,020,989   4.99%  143.179
7     8             Andhra Pradesh      862,957      972,782   4.57%  131.083
8     9                  Telangana      861,031      969,604   4.56%  130.791
9    10             Madhya Pradesh      809,592      906,672   4.29%  122.977
10   11                     Kerala      781,653            -   4.14%  118.733
11   12                      Delhi      774,870      856,112   4.10%  117.703
12   13                    Haryana      734,163      831,610   3.89%  111.519
13   14                      Bihar      530,363      611,804   2.81%   80.562
14   15                     Punjab      526,376      574,760   2.79%   79.957
15   16                     Odisha      487,805      521,275   2.58%   74.098
16   17                      Assam      315,881            -   1.67%   47.982
17   18               Chhattisgarh      304,063      329,180   1.61%   46.187
18   19                  Jharkhand      297,204      328,598   1.57%   45.145
19   20                Uttarakhand      245,895            -   1.30%   37.351
20   21            Jammu & Kashmir      155,956            -   0.83%   23.690
21   22           Himachal Pradesh      153,845      165,472   0.81%   23.369
22   23                        Goa       73,170       80,449   0.39%   11.115
23   24                    Tripura       49,845       55,984   0.26%    7.571
24   25                 Chandigarh       42,114            -   0.22%    6.397
25   26                 Puducherry       34,433       38,253   0.18%    5.230
26   27                  Meghalaya       33,481       36,572   0.18%    5.086
27   28                     Sikkim       28,723       32,496   0.15%    4.363
28   29                    Manipur       27,870       31,790   0.15%    4.233
29   30                   Nagaland       27,283            -   0.14%    4.144
30   31          Arunachal Pradesh       24,603            -   0.13%    3.737
31   32                    Mizoram       22,287       26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands            -            -       -        -

In [2]:
## Answer(4.)


import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [24]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [25]:
driver = webdriver.Chrome("chromedriver.exe")

In [26]:
driver.get("https://github.com/")

In [27]:
menu_explore = driver.find_element(By.XPATH,'//button[@class="js-details-target Button--link Button--medium Button d-lg-none color-fg-inherit p-1"]')
menu_explore.click()

In [28]:
source = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
source.click()

In [29]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div[3]/nav/a[5]')
explore.click()

In [30]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/main/div[1]/nav/div/a[3]')
trending.click()

In [31]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [32]:
#REPOSITORY TITLE
try:
    title_tags = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        Repository_title.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Repository_title.append('No Data')
    
#REPOSITORY Desription
try:
    des_tags = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in des_tags:
        Repository_description.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Repository_description.append('No Data')
    
##Contributors Count
try:
    des_tags = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
    for i in des_tags[1::2]:
        Contributors_count.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Contributors_count.append('No Data')
    
##Language_used
try:
    language = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in language:
        Language_used.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Language_used.append('No Data')

In [33]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 19

In [34]:
github = pd.DataFrame({'Repository_title': Repository_title, 'Repository_description': Repository_description, 'Contributors_count': Contributors_count})
github

,Repository_title,Repository_description,Contributors_count
0,fathyb / carbonyl,Chromium running inside your terminal,201
1,casey / ord,👁‍🗨 Rare and exotic sats,43
2,microsoft / winget-cli,Windows Package Manager CLI (aka winget),"1,134"
3,helm / helm,The Kubernetes Package Manager,"6,538"
4,apitable / apitable,"🚀🎉📚 APITable, an API-oriented low-code platfor...",272
5,fish-shell / fish-shell,The user-friendly command line shell.,"1,663"
6,bregman-arie / devops-exercises,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...","8,588"
7,ahmedbahaaeldin / From-0-to-Research-Scientist...,Detailed and tailored guide for undergraduate ...,608
8,cxasm / notepad--,一个支持windows/linux/mac的文本编辑器，目标是要替换notepad++，来自中国。,47
9,techiescamp / kubernetes-learning-path,A roadmap to learn Kubernetes from scratch (Be...,150
10,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,"6,511"
11,ant-design / ant-design,An enterprise-class UI design language and Rea...,"38,028"
12,archinetai / audio-ai-timeline,A timeline of the latest AI models for audio g...,16
13,practical-tutorials / project-based-learning,Curated list of project-based tutorials,"12,564"
14,goldbergyoni / nodebestpractices,✅ The Node.js best practices list (November 2022),"8,890"
15,microsoft / Data-Science-For-Beginners,"10 Weeks, 20 Lessons, Data Science for All!","3,318"
16,GitHubDaily / GitHubDaily,坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A...,"2,153"
17,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...","9,150"
18,Anduin2017 / HowToCook,程序员在家做饭方法指南。Programmer's guide about how to co...,"7,451"
19,Cysharp / SimdLinq,Drop-in replacement of LINQ aggregation operat...,5
20,spring-projects / spring-boot,Spring Boot,"37,884"
21,lucidrains / musiclm-pytorch,"Implementation of MusicLM, Google's new SOTA m...",46
22,acheong08 / ChatGPT,Real browserless ChatGPT library and command l...,"1,443"
23,iluwatar / java-design-patterns,Design patterns implemented in Java,"24,570"
24,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,"1,296"

In [2]:
## ANSWER (5.)


import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [18]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [19]:
driver = webdriver.Chrome("chromedriver.exe")

In [37]:
driver.get("https://www.billboard.com/")

In [38]:
charts = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts.click()

In [43]:
hot100 = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
hot100.click()

In [44]:
Song_name = []
Artist_name = []
Lastweek_rank = []
Peak_rank = []
Weeks_onboard = []

In [45]:
## Song_name

try:
    name = driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
    for i in name[6:404:4]:
        Song_name.append(i.text)

except NoSuchElement as e:
    print('Exception Raised: ',e)
    Song_name.append('-')

In [46]:
len(Song_name)

100

In [49]:
#ARTIST NAME
try:
    artist_tags_m = driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    Artist_name.append(artist_tags_m.text)
    artist_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist_tags:
        Artist_name.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Artist_name.append('No Data')

In [50]:
len(Artist_name)

100

In [52]:
#LAST WEEK RANK
try:
    lwrank_tags_m = driver.find_element(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    Lastweek_rank.append(lwrank_tags_m.text)
    lwrank_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in lwrank_tags[0:590:6]:
        Lastweek_rank.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Lastweek_rank.append('No Data')

In [53]:
len(Lastweek_rank)

100

In [54]:
#PEAK RANK
try:
    peak_tags_m = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in peak_tags_m[1:2]:
        Peak_rank.append(i.text)
    peak_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in peak_tags[1:591:6]:
        Peak_rank.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Peak_rank.append('No Data')

In [55]:
len(Peak_rank)

100

In [56]:
#WEEKS ON BOARD
try:
    weeks_tags_m = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in weeks_tags_m[2:3]:
        Weeks_onboard.append(i.text)
    weeks_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in weeks_tags[2:592:6]:
        Weeks_onboard.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Weeks_onboard.append('No Data')

In [57]:
len(Weeks_onboard)

100

In [58]:
Billboard_top_100 = pd.DataFrame({'SONG NAME':Song_name,'ARTIST':Artist_name,'LAST WEEK RANK':Lastweek_rank,'PEAK RANK':Peak_rank,'WEEKS ON BOARD':Weeks_onboard})
Billboard_top_100

,SONG NAME,ARTIST,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD
0,Flowers,Miley Cyrus,1,1,2
1,Kill Bill,SZA,2,2,7
2,Anti-Hero,Taylor Swift,3,1,14
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,4,8
4,Unholy,Sam Smith & Kim Petras,5,1,18
...,...,...,...,...,...
95,Do It Again,NLE Choppa & 2Rare,-,96,1
96,Miss You,Oliver Tree & Robin Schulz,96,84,9
97,Back End,Finesse2Tymes,-,98,1
98,Open Arms,SZA Featuring Travis Scott,89,54,6
99,Spit In My Face!,ThxSoMch,-,100,1

In [128]:
## Answer (6.)

In [30]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [31]:
driver = webdriver.Chrome("chromedriver.exe")

In [32]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [33]:
book = []
author = []
sale = []
publisher = []
genre = []

In [34]:
#BOOK NAME
try:
    book_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in book_tags[1::5]:
        book.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    book.append('No Data')
    
    
#AUTHOR NAME
try:
    author_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in author_tags[2::5]:
        author.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    author.append('No Data')
    
    
#VOLUME SALES
try:
    sale_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in sale_tags[3::5]:
        sale.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    sale.append('No Data')
    
    
    
#PUBLISHER NAME
try:
    publisher_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in publisher_tags[4::5]:
        publisher.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    publisher.append('No Data')
    
    
    
#GENRE
try:
    genre_tags = driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for i in genre_tags:
        genre.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    genre.append('No Data')

In [35]:
print(len(book),len(author),len(sale),len(publisher),len(genre))

100 100 100 100 100

In [36]:
bestsellers = pd.DataFrame({'BOOK NAME':book,'AUTHOR':author,'SALE':sale,'PUBLISHER':publisher,'GENRE':genre})
bestsellers

,BOOK NAME,AUTHOR,SALE,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [140]:
## ANSWER(7.)

In [203]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [204]:
driver = webdriver.Chrome("chromedriver.exe")

In [205]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [206]:
name = []
year = []
genre = []
runtime = []
rating = []
votes = []

In [207]:
#TV SHOW NAME
try:
    name_tags = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in name_tags:
        name.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    name.append('No Data')

In [208]:
len(name)

100

In [209]:
try:
    year_tags = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in year_tags:
        year.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    year.append('No Data')

In [210]:
len(year)

100

In [211]:
try:
    genre_tags = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre_tags:
        genre.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    genre.append('No Data')

In [212]:
len(genre)

100

In [213]:
try:
    runt_tags = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in runt_tags:
        runtime.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    runtime.append('No Data')

In [214]:
len(runtime)

100

In [215]:
try:
    ratings_tags = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
    for i in ratings_tags:
        rating.append(i.text)
    
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    rating.append('No Data')

In [216]:
len(rating)

100

In [217]:
try:
    votes_tags = driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in votes_tags:
        votes.append(i.text)
    
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    votes.append('No Data')

In [218]:
len(votes)

100

In [219]:
rating = [i.split('\nRate')[0] for i in rating]
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.7',
 '8.7',
 '7.3',
 '8.3',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.2',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.6',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [221]:
year = [i.split('(')[1] for i in name]
year = [i.split(')')[0] for i in year]
name = [i.split('.')[1] for i in name]
name = [i.split('(')[0] for i in name]

In [222]:
most_watched_tv_shows = pd.DataFrame({'TV SHOW NAME':name,'YEAR SPAN':year,'GENRE':genre,'RUNTIME':runtime,'RATING':rating,'VOTES':votes})
most_watched_tv_shows

,TV SHOW NAME,YEAR SPAN,GENRE,RUNTIME,RATING,VOTES
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,118,285"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,207,238"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,004,212"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"296,544"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"255,471"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,660"
96,A Series of Unfortunate Events,2017–,"Adventure, Comedy, Drama",50 min,7.8,"62,529"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"202,273"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,980"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"249,999"

In [64]:
## ANSWER (8.)

In [65]:
driver = webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [66]:
driver = webdriver.Chrome("chromedriver.exe")

In [67]:
driver.get("https://archive.ics.uci.edu/")

In [68]:
view_all = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]")
view_all.click()

In [69]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
Noinstances = []
Noattribute = []
Year = []

In [70]:
#DATASET NAME
try:
    name_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in name_tags[8:4357:7]:
        Dataset_name.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Dataset_name.append('No Data')
    
    
#DATASET TYPE
try:
    dtype_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in dtype_tags[9:4358:7]:
        Data_type.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Data_type.append('No Data')
    
    
#TASK
try:
    task_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in task_tags[10:4359:7]:
        Task.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Task.append('No Data')
    
    
#ATTRIBUTE TYPE
try:
    atype_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in atype_tags[11:4360:7]:
        Attribute_type.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Attribute_type.append('No Data')
    
    
#INSTANCES
try:
    instances_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in instances_tags[12:4361:7]:
        Noinstances.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Noinstances.append('No Data')
    
    
#ATTRIBUTES
try:
    attributes_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in attributes_tags[13:4362:7]:
        Noattribute.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Noattribute.append('No Data')
    
    
#YEAR
try:
    year_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in year_tags[14:4363:7]:
        Year.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    Year.append('No Data')

In [72]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(Noinstances),len(Noattribute),len(Year))

622 622 622 622 622 622 622

In [75]:
Uci_datasets = pd.DataFrame({'Dataset Name':Dataset_name,'Dataset Type':Data_type,'Task':Task,'Attribute Type':Attribute_type,'Instances':Noinstances,'Attributes':Noattribute,'Year':Year})
Uci_datasets

,Dataset Name,Dataset Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021